section{
    display:flex;
    background-color:blue;
}


body{
    background-color: red;
}

/* LAYOUT: */
header{

}

main{

}

section{
    
}

footer{

}










/* TEXT STYLES: */
h1{
    ,
}

h2{

}

p{

}